<div class="jumbotron">
    <h1>Six Degrees of Marvel</h1>
    <p class="lead">View the connections between Marvel characters, with data taken from the actual Marvel site!</p>
    <p><a target="__blank" href="https://marvel.com/universe/Main_Page" class="btn btn-primary btn-lg">View the Marvel Wiki &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Chain Finder</h2>
        <p>Explore characters and groups for connections, then determine the shortest known path between them to get the Degrees of Separation.</p>
        <p><a class="btn btn-default" href="Home/ChainFinder">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>API Specification</h2>
        <p>View documentation for the API methods which power this site.</p>
        <p><a class="btn btn-default" href="Help">Learn more &raquo;</a></p>
    </div>
</div>
